* {
  margin: 0;
  padding: 0;
}

header {
  height: 20vh;
  text-align: center;
  border-bottom: 1px solid black;
}

h1 {
  margin: 5vh;
}

main {
  width: 800px;
  margin: 0 auto;
  padding-top: 5vh;
}

section {
  height: 90vh;
  margin: 0 auto;
}

main > section > p {
  margin-bottom: 2vh;
}

aside {
  position: fixed;
  right: 10vh;
  bottom: 15vh;
  width: 180px;
  border: 1px solid black;
}

footer {
  position: relative;
  bottom: -15vh;
  height: 10vh;
  background-color: black;
  color: white;
  width: 100%;
}

button {
  background-color: black;
  color: white;
  font-family: serif;
}

aside:active {
  background-color: black;
  color: white;
}

button:active {
  background-color: white;
  color: black;
}